body, ul, li, section, nav, h1, h2, p {
  margin: 0;
  padding: 0;

  background: transparent;

  font: inherit;
  color: inherit;

  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
}

.site {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
    cursor: pointer;
}

h1, h2 {
  font-weight: bold;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

header {
  border-bottom: 8px solid black;
  box-sizing: border-box;
}

.header-nav {
  height: 100%;
  max-width: 900px;
  margin: auto;
}

.header-nav .logo {
  /*float: left;
  font-weight: bold;*/
  font-weight: bold;
  margin: auto;
  width: 800px;
  text-align: center;
  font-size: 80px;
}

.tagline {
  text-align: center;
  font-size: 35px;
}

.nav-links {
  /*float: right;*/
  margin: auto;
  width: 438px;
  margin-top: 20px;
}

.nav-links li {
  float: left;
  height: 100%;
}

.header-nav a {
  display: block;
  padding: 10px 20px;
  text-transform: uppercase;
  /*color: #333333;*/
}

.header-nav {
  /*color: #333333;*/
}

.header-nav a:hover {
  /*color: black;*/
  /*font-weight: bold;*/
  background: yellow;
}

.dropdown a:hover {
  font-weight: bold;
}

.dropdown-parent .dropdown {
  display: none;
}

.dropdown-parent:hover .dropdown {
  display: block;
}

main {
  background: white;
  box-sizing: border-box;
  max-width: 850px;
  margin: 50px auto;
}


main p {
  margin-top: 20px;
  text-align: justify;
}

.contact a, .donate a, footer a {
  font-weight: 600;
  padding: 3px;
}

.contact a:hover, .donate a:hover, footer a:hover {
  background: yellow;
}

.left {
  width: 279px;
  float: left;
}

.right {
  float: right;
  width: 459px;
}

footer {
  border-top: 8px solid black;
}

footer p {
  margin: auto;
  width: 900px;
  padding: 10px 20px;
  text-align: center;
  box-sizing: border-box;
}

.pic {
  width: 100%;
  margin: 20px 0;
}

.about h1 {
  margin-bottom: 20px;
}

main section {
  margin-bottom: 20px;
}

main section:last-child {
  margin-bottom: 0;
}

.person {
  width: 48%;
  float: left;
}

.person h2 {
  margin-bottom: 20px;
}

.person:first-child {
  margin-right: 4%;
}

.main-header {
  text-align: center;
}

.main-header h1 {
  font-size: 24px;
}

.front-page h1 {
  font-size: 60px;
}

.front-page h2 {
  font-size: 40px;
}

.front-page {
  font-size: 20px;
}

.dropdown-parent {
  position: relative;
}

.dropdown {
  position: absolute;
  background: white;
  border: 8px solid black;
  border-top: 0;
  left: -10px;
}

.dropdown li {
  float: none;
}

.dropdown a {
  font-style: italic;
}

.italic {
  font-style: italic;
}

.centered {
  text-align: center;
}

.show-thumb {
  width: 400px;
  position: relative;
  box-sizing: border-box;
}

.show-thumb .overlay {
  display: none;
  color: white;
  font-weight: bold;
  background: rgba(255,255,255,.18);
  display: none;
  padding: 20px;
  font-size: 24px;
}

.show-thumb:hover .overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.designers {
  margin-bottom: 20px;
}

.events li {
  margin-top: 20px;
}

.show-details {
  margin-bottom: 50px;
}

.credits {
  margin-bottom: 20px;
}

.credits p {
  margin: 0;
}

.carousel img {
  width: auto;
  height: auto;
  min-width: 850px;
  min-height: 500px;
}

/*.carousel {
  background: red;
}*/

/*#artfully-alert {
  display:none
}

#artfully-event {
  width: 850px;
  margin: 20px auto;
}

.event-name, .event-producer {
  display: none
}

.performance {
  padding:0.5em 0.25em;
  margin:0.5em 0;
  color:#666666;
  border-bottom:1px solid #cccccc;
  position:relative
}

.performance .ticket-search{
  position:absolute;
  right:0.25em
}

ul {
  list-style-type:none
}

.ticket-types li {
  padding:1em
}

.ticket-types .ticket-type-name {
  font-size:1.25em;line-height:1.5em
}

.ticket-types .ticket-type-price{
  -moz-border-radius:4px 4px 4px 4px;
  -webkit-border-radius:4px 4px 4px 4px;
  border-radius:4px 4px 4px 4px;
  font-weight:bold;
  background:#eeeeee;
  padding:0.5em;
  margin-right:1em;
  float:left;
  font-size:0.8em
}

.ticket-types form {
  margin:1em 0
}

#shopping-cart {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(255,255,255,0.9)
}

#shopping-cart-controls {
  color:white;
  padding:10px 5px 10px 27px;
  cursor:pointer;
  font-size:0.9em;
  font-family:Arial;
  -moz-border-radius:10px 10px 0px 0px;
  -webkit-border-radius:10px 10px 0px 0px;
  right:0;width:300px
}

#shopping-cart.shown #shopping-cart-controls {
  background:#333 url("/assets/icons/down_arrow.png")
  no-repeat 10px center
}

#shopping-cart.hidden #shopping-cart-controls {
  background:#333 url("/assets/icons/up_arrow.png") no-repeat 10px center
}

#shopping-cart-controls .timer {
  float:right
}

#shopping-cart iframe{width:100%}.ticket_count{margin-right:5px}.preset-amount{float:left;width:100px;margin-bottom:10px}

#donation p {
  margin-top: 20px;
}

#donation form {
  width: 500px;
  height: 130px;
  margin: 20px auto;
  border: 8px solid black;
  position: relative;
}

#donation form input[type=text] {
  width: 80%;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  font-size: 20px;
}

#donation form input[type=submit] {
  width: 80%;
  height: 50px;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  font-size: 20px;
}*/

.friend {
  width: 225px;
  height: 225px;
  background: #eee;
  display: block;
  text-align: center;
  position: relative;
  font-weight: normal;
  margin-top: 25px;
  margin-right: 25px;
  float: left;
  z-index: 0;
}

.friend:hover {
  background: #aaa;
  font-weight: normal;
}

.friend .details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);;
}

.thank-you {
  font-size: 138px;
  text-align: center;
  font-weight: bold;
}

.invisible {
  display: none;
}

.shows li {
  margin-bottom: 20px;
}

.about h1, .shows li {
  font-size: 39px;
  font-weight: bold;
  text-align: center;
}

.about h1:hover, .shows li:hover {
  background: yellow;
  cursor: pointer;
}

#mc_embed_signup {
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
}

.highlight-link {
  font-weight: bold;
  padding: 3px;
}

.highlight-link:hover {
  background: yellow;
}
